.header {
  @include flex(row nowrap, center, center);

  max-width: $width-max;

  background-color: $background-white;

  padding: 24px 0 24px 0;

  border-bottom: 1px solid #ececec;

  margin-right: 10px;

  &__navigation {
    list-style: none;

    @include flex(row nowrap, flex-start, center);

    gap: 0 50px;

    margin: 0 330px 0 94px;

    &__element {
      a {
        transition: color $transition-default;
        cursor: pointer;

        position: relative;

        color: $text-default;
        line-height: 1;

        text-decoration: none;

        &:active,
        &:visited {
          @extend .header__navigation__element;
        }

        &:hover,
        &:focus {
          color: $brand-blue;
        }
      }

      &--active {
        a {
          color: $brand-blue;

          &:active,
          &:visited {
            @extend .header__navigation__element--active;
          }
          &::after {
            pointer-events: none;

            position: absolute;
            top: 42px;

            display: block;
            content: "";
            width: 100%;
            height: 4px;

            background-color: $brand-blue;

            border-radius: 2px;
          }
        }
      }
    }
  }

  &__contacts {
    list-style: none;

    @include flex(row nowrap, flex-start, center);
    gap: 0 40px;

    &:hover,
    &:focus {
      color: $brand-blue;
    }
  }
}
