.main__our-team {
  @include flex(row wrap, center, center);
  gap: 50px 30px;

  text-align: center;

  background-color: $background-secondary;

  &__heading {
    width: 100%; /* width so elements wrap under the heading */

    line-height: 1.5;
  }

  &__figure {
    background-color: $background-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &__caption {
      line-height: 1.8;
      margin: 30px 0;

      &__social-links {
        @include flex(row nowrap, center, center);
        gap: 10px;

        color: $svg-inactive;

        margin-top: 12px;

        svg {
          transition: background-color $transition-default,
            color $transition-default;
          overflow: visible;

          color: $svg-inactive;

          padding: 12px;

          border-radius: 50px;

          &:hover,
          &:focus {
            background-color: $brand-blue;
            color: $background-white;
          }
        }
      }
    }
  }
}
