/* Reusables */
.font {
  &__size {
    &--12 {
      font-size: 12px;
    }
    &--14 {
      font-size: 14px;
    }
    &--16 {
      font-size: 16px;
    }
    &--18 {
      font-size: 18px;
    }
    &--20 {
      font-size: 20px;
    }
    &--32 {
      font-size: 32px;
    }
  }
  &__weight {
    &--500 {
      font-weight: 500;
    }
    &--700 {
      font-weight: 700;
    }
    &--900 {
      font-weight: 900;
    }
  }
  &__color {
    &--default {
      color: $text-default;
    }
    &--secondary {
      color: $text-secondary;
    }
    &--white {
      color: $text-white;
    }
    &--brand-blue {
      color: $brand-blue;
    }
  }
  &__letter-spacing {
    &--03 {
      letter-spacing: 0.03em;
    }
    &--04 {
      letter-spacing: 0.04em;
    }
    &--06 {
      letter-spacing: 0.06em;
    }
  }
}
