// Main Colors
$brand-blue: #2196f3;
$brand-blue-hover: #188ce8;
$brand-blue-overlay: #2196f3e6;
$brand-gray: #2f303a;

// Font Colors
$text-default: #212121;
$text-secondary: #757575;
$text-white: #fff;
$text-black: #000;

// Vector Graphics' Colors
$svg-inactive: #afb1b8;

// Background Colors
$background-white: #fff;
$background-primary: #e5e5e5;
$background-secondary: #f5f4fa;

// Transitions
$transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Default Widths
$width-max: 1600px;
$width-min: 1200px;
